.main_post {
  position: relative;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: calc(var(--header-height) + var(--gap)) var(--gap) var(--gap)
    var(--gap);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.settings {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.197);
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 50px;
  position: relative;
  margin: 20px auto;
  box-sizing: border-box;
  overflow-x: auto;
}
.settings_text {
  line-height: 1.5;
  font-size: 0.875rem; /* 14px / 16px = 0.875rem */
}
.settings_text img {
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid var(--bg-color);
}
.settings_text .codeium_img {
  width: 372px;
  height: 630px;
}
.settings_text .backticks_img {
  width: 473px;
  height: 380px;
}
.settings_text .errorlens_img {
  width: 474px;
  height: 490px;
}

.settings_text a {
  color: var(--text-color);
  transition: 0.3s;
  opacity: 0.9;
}
.settings_text a:hover {
  opacity: 1;
  transform: translateY(-5px);
}
.settings_text ul {
  list-style: none;
}

.copy_button {
  padding: 10px 15px 10px 15px;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.504);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1rem; /* 16px / 16px = 1rem */
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.copy_button:hover {
  color: white;
  transform: translateY(-5px);
}

.settings b {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .main_post {
    padding: calc(var(--header-height) + 15px) 15px 15px 15px;
  }
  .wrapper {
    padding: 10px;
  }
  .settings {
    width: 100%;
    padding: 15px;
    margin: 10px auto;
    overflow-x: auto;
  }
  .settings_text {
    font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  }
  .settings_text .codeium_img {
    width: 280px;
    height: 473px;
  }
  .settings_text .backticks_img {
    width: 320px;
    height: 260px;
  }
  .settings_text .errorlens_img {
    width: 320px;
    height: 330px;
  }
  .copy_button {
    position: absolute;
    bottom: 2px;
    right: 0;
    font-size: 14px;
  }
  .settings b {
    display: none;
  }
}
