[[redirects]] 
    from = "/*"
    to = "/index.html"
    status = 200

[build]
  command = "bun run build"
  publish = "dist"  

[build.environment]
  NODE_VERSION = "18" # Use Node.js for compatibility
  BUN_VERSION = "latest"

[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, must-revalidate"