.footer {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.footer a,
.footer span {
  color: var(--text-color);
}
.footer a:hover {
  opacity: 0.8;
}
.footer .footer_span {
  text-underline-offset: 2px;
  text-decoration-thickness: 0.04rem;
}
@media only screen and (max-width: 768px) {
  .footer {
    font-size: 11px;
  }
}
