.main_post {
  position: relative;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: calc(var(--header-height) + var(--gap)) var(--gap) var(--gap)
    var(--gap);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .main_post {
    padding: calc(var(--header-height) + 15px) 15px 15px 15px;
  }
}
