.main {
  position: relative;
  margin: auto;
  padding: var(--gap);
  padding-top: calc(var(--header-height) + var(--gap));
  height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main .info_container {
  font-weight: 500;
  position: relative;
  width: 100%;
  flex: 1;
  text-align: center;
  box-sizing: border-box;
}

.blurred_text {
  max-width: 1000px;
  width: 90%;
  line-height: 1.3;
  display: flex;
  justify-content: center;
}

.blurred_text:nth-child(1) {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.blurred_text:nth-child(2) {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 70px));
  font-size: 1.9rem;
}

.blurred_text:nth-child(3) {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 150px));
  font-size: 1.1rem;
}

/* Планшеты (768px - 1024px) */
@media only screen and (max-width: 1024px) {
  .blurred_text:nth-child(1) {
    font-size: 2rem;
    left: 50%;
  }

  .blurred_text:nth-child(2) {
    font-size: 1.9rem;
    transform: translate(-50%, calc(-50% + 80px));
    left: 50%;
  }

  .blurred_text:nth-child(3) {
    font-size: 1.8rem;
    transform: translate(-50%, calc(-50% + 180px));
    left: 50%;
  }
}

/* Мобильные устройства (до 768px) */
@media only screen and (max-width: 768px) {
  .main {
    padding: 15px;
    padding-top: calc(var(--header-height) + 15px);
  }

  .blurred_text {
    width: 95%;
    justify-content: start;
  }

  .blurred_text:nth-child(1) {
    font-size: 1.5rem;
    left: 50%;
  }

  .blurred_text:nth-child(2) {
    font-size: 1.3rem;
    transform: translate(-50%, calc(-50% + 70px));
    left: 50%;
    margin-top: 40px;
  }

  .blurred_text:nth-child(3) {
    font-size: 1.2rem;
    transform: translate(-50%, calc(-50% + 150px));
    left: 50%;
  }
}

/* Маленькие мобильные (до 480px) */
@media only screen and (max-width: 480px) {
  .main {
    padding: 30px;
    padding-top: calc(var(--header-height) + 10px);
    max-width: calc(var(--main-width) + var(--gap) * 2);
  }

  .blurred_text:nth-child(1) {
    font-size: 2.1rem;
    width: 100%;
    left: 50%;
  }

  .blurred_text:nth-child(2) {
    font-size: 2rem;
    transform: translate(-50%, calc(-50% + 125px));
    width: 100%;
    left: 50%;
  }

  .blurred_text:nth-child(3) {
    font-size: 1.7rem;
    transform: translate(-50%, calc(-50% + 250px));
    width: 100%;
    left: 50%;
  }
}
